# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    app.abstract_quiz_manager:
        class: AppBundle\Model\AbstractQuizManager
        arguments: [ '@doctrine.orm.entity_manager' ]
        abstract: true

    app.default_quiz_manager:
        class: AppBundle\Service\DefaultQuizManager
        parent: app.abstract_quiz_manager

    app.exception_listener:
        class: AppBundle\EventListener\ExceptionListener
        tags:
            - {name: kernel.event_listener, event: kernel.exception }